 :root {
            --primary: #6c5ce7;
            --secondary: #a29bfe;
            --dark: #2d3436;
            --light: #dfe6e9;
        }

       

       
        /* Навігація (Вкладки) */
        .nav-tabs {
            display: flex;
            gap: 10px;
            margin: 20px 0;
        }

        .tab-btn {
            padding: 12px 25px;
            background: #444;
            border: none;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            font-weight: bold;
            transition: 0.3s;
        }

        .tab-btn.active {
            background: var(--primary);
            transform: scale(1.1);
        }

        .game-section {
            display: none; /* Ховаємо всі ігри за замовчуванням */
            width: 90%;
            max-width: 900px;
            background: white;
            color: #333;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.5);
            text-align: center;
        }

        .game-section.active {
            display: block; /* Показуємо тільки активну */
        }

        /* Стилі для Клікера */
        #target {
            width: 60px; height: 60px;
            background-image: url(https://learn.logikaschool.com/uploads/student/5213519/6991cccbdcc41.png);
            background-size: cover;
            position: absolute;
            
            cursor: pointer;
        }
        #game-area {
            width: 100%; height: 300px;
            background: #fab1a0;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
        }

        /* Стилі для Малювання */
        canvas {
            border: 2px solid #333;
            background: #fff;
            cursor: crosshair;
            width: 100%;
            max-width: 700px;
        }

        /* Стилі для RPG */
        .rpg-container { display: flex; gap: 20px; flex-wrap: wrap; justify-content: center; }
        .card {
            border: 3px solid var(--primary);
            padding: 20px;
            border-radius: 10px;
            min-width: 200px;
            background: #f9f9f9;
        }
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
}

iframe {
    margin: 20px;
    border: 3px solid blue;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0px;
    width: 250px;
    height: 100%;
    border-right: 5px solid #2f3336;
    padding: 0px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.someones-profile img{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
}

.elon-musk img {
    
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    border-bottom: 1px solid #2f3336;
}

.elon-musk {
    position: absolute;
    left: 10px;
    padding: 10px;
}

.someones-profile {
    padding: 10px;
}


.menu-item {
    display: block;
    padding: 12px 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.menu-item:hover,
.menu-item.active {
    color: #1d9bf0;
}

.main {
    margin-left: 250px;
    height: 100vh;
    overflow-y: auto;
}

.header {
    position: sticky;
    top: 0;
    background: #000;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 5px solid #2f3336;
}

.post-box {
    padding: 15px;
    border-bottom: 1px solid #2f3336;
}

.post-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
}

.post-btn {
    background: #1d9bf0;
    border: none;
    padding: 10px 18px;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.post-btn:hover {
    background: #1a8cd8;
}

.search-box input {
    width: 90%;
    padding: 10px;
    margin: 15px;
    border-radius: 25px;
    border: none;
    background: #202327;
    color: white;
    font-size: 16px;
    outline: none;
}

.elon-muskss {
    margin-left: 55px;
    margin-top: 30px;
    border-bottom: 1px solid #2f3336;
}

.elon-muskss img {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    border-bottom: 1px solid #2f3336;
}

.
